.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
.idea/workspace.xml
target/cucumber/report.js
target/cucumber/report.js
.idea/workspace.xml
.idea/vcs.xml
target/cucumber/report.js
.idea/workspace.xml
.idea/workspace.xml
target/cucumber/report.js
.allure/allure-2.2.1/bin/allure
.allure/allure-2.2.1/bin/allure.bat
.allure/allure-2.2.1/bin/allure.bat
allure-results/f5eaea3b-fdb3-45b2-b81f-bb1278388fae-container.json
.allure/allure-2.2.1/config/allure-cucumber.yml
.allure/allure-2.2.1/config/allure-junit.yml
.allure/allure-2.2.1/config/allure.yml
.allure/allure-2.2.1/lib/allure-commandline-2.2.1.jar
.allure/allure-2.2.1/lib/allure-generator-2.2.1.jar
.allure/allure-2.2.1/lib/allure-plugin-api-2.2.1.jar
.allure/allure-2.2.1/lib/allure1-model-1.0.jar
.allure/allure-2.2.1/lib/allure2-model-api-1.0-BETA4.jar
.allure/allure-2.2.1/lib/allure2-model-jackson-1.0-BETA4.jar
.allure/allure-2.2.1/lib/allure2-model-pojo-1.0-BETA4.jar
.allure/allure-2.2.1/lib/commons-io-2.5.jar
.allure/allure-2.2.1/lib/config/jetty-logging.properties
.allure/allure-2.2.1/lib/config/log4j.properties
.allure/allure-2.2.1/lib/flexmark-0.19.4.jar
.allure/allure-2.2.1/lib/flexmark-util-0.19.4.jar
.allure/allure-2.2.1/lib/freemarker-2.3.23.jar
.allure/allure-2.2.1/lib/jackson-annotations-2.8.0.jar
.allure/allure-2.2.1/lib/jackson-core-2.8.6.jar
.allure/allure-2.2.1/lib/jackson-databind-2.8.6.jar
.allure/allure-2.2.1/lib/jackson-dataformat-yaml-2.8.6.jar
.allure/allure-2.2.1/lib/jackson-module-jaxb-annotations-2.8.6.jar
.allure/allure-2.2.1/lib/javax.servlet-api-3.1.0.jar
.allure/allure-2.2.1/lib/jaxb-utils-1.0.jar
.allure/allure-2.2.1/lib/jcommander-1.64.jar
.allure/allure-2.2.1/lib/jetty-http-9.2.2.v20140723.jar
.allure/allure-2.2.1/lib/jetty-io-9.2.2.v20140723.jar
.allure/allure-2.2.1/lib/jetty-server-9.2.2.v20140723.jar
.allure/allure-2.2.1/lib/jetty-util-9.2.2.v20140723.jar
.allure/allure-2.2.1/lib/log4j-1.2.17.jar
.allure/allure-2.2.1/lib/properties-2.0.RC5.jar
.allure/allure-2.2.1/lib/slf4j-api-1.7.21.jar
.allure/allure-2.2.1/lib/slf4j-log4j12-1.7.21.jar
.allure/allure-2.2.1/lib/snakeyaml-1.17.jar
.allure/allure-2.2.1/lib/tika-core-1.14.jar
.allure/allure-2.2.1/plugins/behaviors-plugin/allure-plugin.yml
.allure/allure-2.2.1/plugins/behaviors-plugin/plugin.jar
.allure/allure-2.2.1/plugins/behaviors-plugin/static/index.js
.allure/allure-2.2.1/plugins/custom-logo-plugin/allure-plugin.yml
.allure/allure-2.2.1/plugins/custom-logo-plugin/static/custom-logo.svg
.allure/allure-2.2.1/plugins/custom-logo-plugin/static/styles.css
.allure/allure-2.2.1/plugins/junit-xml-plugin/allure-plugin.yml
.allure/allure-2.2.1/plugins/junit-xml-plugin/junit-xml-plugin-2.2.1.jar
.allure/allure-2.2.1/plugins/packages-plugin/allure-plugin.yml
.allure/allure-2.2.1/plugins/packages-plugin/plugin.jar
.allure/allure-2.2.1/plugins/packages-plugin/static/index.js
.allure/allure-2.2.1/plugins/README.txt
.allure/allure-2.2.1/plugins/screen-diff-plugin/allure-plugin.yml
.allure/allure-2.2.1/plugins/screen-diff-plugin/static/index.js
.allure/allure-2.2.1/plugins/screen-diff-plugin/static/styles.css
.allure/allure-2.2.1/plugins/xunit-xml-plugin/allure-plugin.yml
.allure/allure-2.2.1/plugins/xunit-xml-plugin/xunit-xml-plugin-2.2.1.jar
allure-results/0e1e6393-da6f-43e1-b1be-af19adc4f909-container.json
allure-results/0f3c1ad2-f969-4950-b387-fdd41db77557-container.json
allure-results/1968dbe1-618e-4d24-a4f9-a1b2fbba67f3-container.json
allure-results/1a3e1f82-d858-4bb3-b10e-f870ec0c1c52-container.json
allure-results/1e1b2e74-d315-4e76-9109-909ecab586a3-container.json
allure-results/49d883d5-dccd-4303-8b56-9479e616993a-container.json
allure-results/4e1fd2e2-be56-47ca-94b8-665ce020c355-container.json
allure-results/51de6fe8-1246-4ec2-8fb1-15768b163e18-container.json
allure-results/645e4a27-51a9-4e1c-9e13-c92ea034e4d3-container.json
allure-results/73a007ef-a592-40a7-857a-50b731854616-container.json
allure-results/77c8d93d-1b8a-4c17-b5d2-95bcc8c66378-container.json
allure-results/8362eb24-447f-4b8c-9f13-b3fc8421158a-container.json
allure-results/8937da0d-74f3-4e05-b106-8a9e6346aba8-result.json
allure-results/956e23b7-42d2-4bbc-b42e-08d03a37a9d7-container.json
allure-results/aba90374-b443-4970-aae8-76f69113e235-result.json
allure-results/b2eb7f6b-0744-4375-aa00-8b708a0fd0cf-container.json
allure-results/b74fc881-7bf2-464b-a18d-cf280b0c5f70-container.json
allure-results/db638a27-215b-4f3d-a463-aea4cc67015b-container.json
allure-results/e46f4b52-8b88-4e42-8b3e-51130c48348f-container.json
allure-results/e57661ce-8647-421f-8755-e8d2f73bf6d6-container.json
allure-results/e7591f80-2ff9-4a1f-be28-ba65c69b4026-container.json
allure-results/edbb9f3e-99e7-4784-994a-325a3fbdd42a-container.json
target/RunCuke/cucumber.json
target/RunCuke/cucumber.html/style.css
target/RunCuke/cucumber.html/report.js
target/RunCuke/cucumber.html/jquery-1.8.2.min.js
target/RunCuke/cucumber.html/index.html
target/RunCuke/cucumber.html/formatter.js
*.txt
*.log
.idea/workspace.xml
